* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e6ddc9;
}
header {
  background-color: #343334;
  display: inline;
}

.hero {
  padding: 2% 3%;
}

.hero img {
  max-width: 75%;
}

.img-logo {
  width: 350px;
  height: 100px;
}

.page-wrapper {
  padding: 4%;
}

.card {
  padding: 1%;
  background-color: #d9d9d9;
  font-family: "Quicksand", sans-serif;
}

.recipe-home {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.recipe-card {
  width: 600px;
  height: 600px;
}

.user-form {
  padding: 15px;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-height: 400px;
}
.form-control {
  outline: none;
}
.form-text,
.form-control {
  margin-bottom: 10px;
}
select {
  margin-bottom: 10px;
}

small {
  cursor: pointer;
}
small:hover {
  text-decoration: underline;
}

.trending {
  font-family: "Bebas Neue", cursive;
}

.hidden {
  visibility: hidden;
}

.btn {
  margin-bottom: 5px;
}

.notification {
  position: absolute;
  visibility: hidden;
}
.notification-hidden {
  visibility: hidden;
}

.notification-visible {
  position: absolute;
  visibility: visible;
}
.ddanger {
  color: red;
}
/* @media screen and (max-width: 768px) {
  .user-form {
    padding: 1px;
  }
} */

@media screen and (max-width: 438px) {
  .extra-logo {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .img-logo {
    text-align: center;
  }
}

@media screen and (max-width: 1233px) {
  .user-form {
    max-height: 500px;
  }
  .trending {
    margin-top: 10px;
  }
}
