* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #e6ddc9;
}
header {
  background-color: #343334;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1.8rem;
  font-family: "Special Elite", cursive;
  width: 100%;
}

.img-logo {
  width: 350px;
  height: 100px;
}

.extra-logo {
  width: 80px;
  height: 60px;
  filter: blur(2px);
}

.page-wrapper {
  padding: 4%;
}

.card {
  padding: 1%;
  background-color: #d9d9d9;
  font-family: "Quicksand", sans-serif;
}

.recipe-home {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.recipe-card {
  width: 600px;
  height: 600px;
}

.user-form {
  margin-left: 0;
}
.user-form {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-height: 650px;
  margin-bottom: 15px;
}
.form-control {
  outline: none;
}
.form-text,
.form-control {
  margin-bottom: 10px;
}
select {
  margin-bottom: 10px;
}

small {
  cursor: pointer;
}

.trending {
  font-family: "Bebas Neue", cursive;
}

.hidden {
  visibility: hidden;
}
